<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187573988164-n6gfnu44qssd89452u0908boa22odiev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187573988164-n6gfnu44qssd89452u0908boa22odiev</string>
	<key>API_KEY</key>
	<string>AIzaSyDh1NHNXP1HL8wrzyJbiUT4_nMqxysEnfk</string>
	<key>GCM_SENDER_ID</key>
	<string>187573988164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Discover.Discover</string>
	<key>PROJECT_ID</key>
	<string>discover-7c65d</string>
	<key>STORAGE_BUCKET</key>
	<string>discover-7c65d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187573988164:ios:f633e2e7dac1554d228511</string>
	<key>DATABASE_URL</key>
	<string>https://discover-7c65d.firebaseio.com</string>
</dict>
</plist>